@model AzureEjercicioHiberusGuillermo.Models.TextoFichero.TextoFicheroModel;

@{
    ViewData["Title"] = "Texto Fichero ";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnalyzedTexts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositiveCourseAverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeutralCourseAverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NegativeCourseAverage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Texts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositiveScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeutralScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NegativeScore)
            </td>
        </tr>
}
    </tbody>
</table>
